@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

:root {
  /* Colors */

  --color-primary: #0088F7;
  --color-secondary: #58DB00;
  --color-light: #FFFFFF;
  --color-low-dark: #222120;
  --color-medium-dark: #212121;
  --color-high-dark: #171717;
  --color-higher-dark: #030303;

  /* Linear Gradient */

  --color-linear-1: linear-gradient(42deg, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-primary) 100%);

  /* Shadows */

  --shadow-high: 0px 4px 10px 4px rgba(0, 0, 0, 0.3);
  --shadow-low: 0px 4px 10px rgba(0, 0, 0, 0.2);

  /* Borders */

  --border-radius: 10px;

  /* Font Size */

  --font-size-h1-1: 4rem;
  --font-size-h1-2: 6rem;
  --font-size-h2-1: 2.2rem;
  --font-size-h3-1: 1.8rem;
  --font-size-small: 1rem;
  --font-size-p-1: 1.1rem;
  --font-size-p-2: 1.2rem;
  --font-size-li-1: 1.6rem;
  --font-size-li-2: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Urbanist', sans-serif;
  font-size: 62.5%;
  background: var(--color-high-dark);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.background_animation {
  animation: color 3s linear infinite;
  background-size: 500%;
}

@keyframes color {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

h1 {
  letter-spacing: 1px;
  font-size: var(--font-size-h1-1);
  font-weight: bolder;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: var(--font-size-h2-1);
  font-weight: bolder;
  color: transparent;
  background-image: linear-gradient(to left, #FFD700, #7B68EE, var(--color-primary), var(--color-secondary), #FFD700);
  background-clip: text;
  -webkit-background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%;
}

h3 {
  font-size: var(--font-size-h3-1);
  color: var(--color-light);
}

@media (min-width: 700px) {
  h1 {
    font-size: var(--font-size-h1-2);
  }
}

a {
  text-decoration: none;
  color: var(--color-light);
}
