.experience_container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 100px 0px;
  background-image: url('../../public/assets/background-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.experience_container_content {
  width: 100%;
  display: flex;
  margin-top: 50px;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience_card {
  width: 80%;
  height: auto;
  padding-bottom: 2px;
  background-image: var(--color-linear-1);
  animation: color 3s linear infinite;
  background-size: 500%;
}

@keyframes color {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

.experience_card .experience_card_content {
  width: 100%;
  height: auto;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  background: #060606;
  box-shadow: var(--shadow-high);
}

.experience_card_item {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-bottom: 1px solid var(--color-light);
}

.experience_card_item:nth-child(even) span {
  text-align: end;
}

.experience_card_item:first-child {
  padding-top: 0;
}

.experience_card_item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.experience_card_item .span_position {
  font-size: var(--font-size-h3-1);
  font-weight: 600;
  color: var(--color-light);
}

.experience_card_item .span_company {
  font-size: var(--font-size-p-2);
  font-weight: 500;
  color: var(--color-light);
}

.experience_card_item .span_type {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-light);
}

.experience_card_item .span_time {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-light);
}

.experience_container_image {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .experience_card {
    width: 50%;
  }

  .experience_container_image {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .experience_card {
    width: 600px;
  }
}
