.project_container {
  width: 100%;
  height: 100%;
  background: var(--color-medium-dark);
}

.project_image {
  width: 100%;
  height: 180px;
  position: relative;
}

.project_content {
  width: 100%;
  height: 45%;
  padding: 15px;
  position: relative;
}

.project_content h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: transparent;
  background-image: var(--color-linear-1);
  background-clip: text;
  -webkit-background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%;
}

@keyframes color {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

.project_content p {
  font-size: var(--font-size-small);
  color: var(--color-light);
}

.project_content p:nth-child(3) {
  margin-top: 10px;
}

.project_content_links {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project_content_links div {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.project_content_links div a {
  text-decoration: none;
  color: var(--color-light);
}

.project_content_links .project_icon {
  font-size: 26px;
}

.project_icon:hover {
  color: var(--color-primary);
}

@media (min-width: 700px) {
  .project_image {
    width: 100%;
    height: 200px;
  }

  .project_content {
    width: 100%;
    height: 41%;
  }

  .project_content_links {
    width: 100%;
    height: 15%;
  }
  
  .project_content_links .project_icon {
    font-size: 30px;
  }
}
